@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import "reset.css";
@import "variables.css";
@import "animation.css";

/* components */
@import "components/status-bar.css";
@import "components/navigation-bar.css";
@import "components/notification-dot.css";
@import "components/screen-header.css";

/* screens */
@import "screens/login.css";

html {
    /* 100% -> 16px */
    font-size: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-color);
    /* 0.875rem -> 14px */
    font-size: 0.875rem;
    height: 200vh;
}
h2 {
    font-size: 1.5rem;
    font-weight: 600;
}
h3 {
    /* 1.25rem -> 20px */
    /* 1.5rem -> 24px */
    font-size: 1.5rem;
}
a,
a:visited {
    text-decoration: none;
    color: var(--main-gray);
}