:root {
    /* color */
    --main-color: #333;
    --main-gray: #666;
    --sub-gray: #999;
    --bg-gray: #ddd;
    --point-color : seagreen;

    /* animation speed */
    --dot-2: 0.2s;
    --dot-4: 0.4s;

    /* horizontal padding */
    --horizontal-space: 0 20px;
}