.friends-screen__display {
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.friends-screen__channel-bar {
    border-top: 0.5px solid var(--sub-gray);
    margin: 10px 0;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sub-gray);
}

/* splash-screen */
@keyframes splashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.splash-screen {
    background-color: var(--point-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 99;
    animation: splashScreen 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
}
.splash-screen img {
    width: 200px;
}