.screen-header {
    background-color: whitesmoke;
    position: fixed;
    top: 25px;
    width: 100vw;
    height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.screen-header h2 {
    border-bottom: 2px solid var(--point-color);
    padding: 0 5px;
}
.screen-header__icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen-header__icon {
    margin-left: 25px;
}