.status-bar {
    background-color: var(--bg-gray);
    width: 100vw;
    height: 25px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}
.status-bar__column {
    width: 30%;
}
.status-bar__column:nth-child(2) {
    text-align: center;
}
.status-bar__column:nth-child(3) {
    text-align: right;
}