.status-bar {
    background-color: var(--bg-gray);
    width: 100vw;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}
.status-bar__column {
    width: 30%;
}
.status-bar__column:nth-child(2) {
    text-align: center;
}
.status-bar__column:nth-child(3) {
    text-align: right;
}